 .navbar {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 14px;
  font-family:"Lucida Console", "Courier New", monospace;
  letter-spacing: 3px;
}

.navbar-nav li a:hover {
  color: #1abc9c !important;
}

.navbar-brand {
    color: darkgrey;
}

.navbar-page {
    color: darkgrey;
}

/* bigshot one font */
@import url(https://fonts.googleapis.com/css?family=Cabin+Condensed);

body,html{margin:0;padding:0;height:100%;}
body{
  background: #f1f1f1;
  background-size:cover;
  font-family: 'Cabin Condensed', sans-serif;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}
svg{font-weight:bold;max-width:800px;height:100%;}

footer {
    background-color: beige;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 14px;
    font-family:"Lucida Console", "Courier New", monospace;
    letter-spacing: 3px;
    color: darkgray;
}
