/*this is for responsive web scaling relavtive to device viewport: */
<meta name="viewport" content="width=device-width, initial-scale=1.0"> 

/*this code must be used when building a responsive grid-view: */
* {
  box-sizing: border-box;
}                                

body {
/* (R,B,G,A) A=Alpha which is transparency values where 0.0 is fully transparent and 1.0 is opaque */
    background-color: rgb(237,228,230,0.93); 
}

/*creating responsive header image for mobile: */
@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: inherit;
  }
}
    
/* header 1
h1 {
   color: rgb(255,255,255);
   font-family: "Verdana", "Arial", "Helvetica", sans-serif;
   font-size: 280%;
   border: 2px rdg(255,255,255);
   padding: 25%;
   margin: 50%;
}  */


p {
   color: rgb(71,69,69.0.98);
   font-family: "Lucida Console", "Courier New", monospace;
   font-size: 90%;
   text-align: justify;
   text-justify: inter-word;
}


footer {
   background-color: rgb(237,228,230,0.93);
   text-align: center;
   font-family: "Verdana", "Arial", "Helvetica", sans-serif;
   font-size: 100%;
   margin: 4%;
   border: 0%; 
   padding: 4%;
   
}
